<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctp.projetofinalsnapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosnapicon"
        android:label="Snapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InsertActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:label="Snap Dash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyAdActivity"
            android:label="Meus Anúncios" />
        <activity android:name=".MyAccountActivity" />
        <activity android:name=".AboutApp"></activity>
    </application>

</manifest>